html {
  height: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--text);
}

a {
  color: var(--text-link);
}

.footer, .navbar {
  width: 100%;
  /* background-color: var(--debug-color); */
}

.footer {
  padding: 0;
  margin: .25em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer-links {
  font-size: 1.5em;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-navbar);
}

.footer-links a:hover {
  color: var(--text-navbar-hover);
  transition: 0.3s;
}

.vertical-rule {
  border-left: 2px solid var(--horizontal-separator);
  border-radius: 1em;
  min-height: 90%;
  height: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.navbar {
  top: 0;
  height: 3em;
  display: flex;
  flex-direction: column;
  margin-top: 0.25em;
}

.navbar hr, .footer hr {
  color: var(--horizontal-separator);
  border: .1em solid;
  border-radius: 1em;
  margin: 0.25em 0 0.25em 0;
  font-size: 1em;
  align-self: stretch;
}

.navbar-item {
  margin-left: 0.75em;
}

.navbar-arrow {
  display: none;
  cursor: pointer;
}

.navbar-arrow:hover {
  color: var(--text-navbar-arrow-hover);
}

@media screen and (max-width: 775px) {
  .navbar-item:not(#navbar-active) {display:none;}
  #navbar-active{
    float: right;
    display: block;
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .navbar-arrow {
    display: block;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-navbar-arrow);
  }
}


.navbar-brand {
  float: left;
  font-weight: bold;
}

.navbar-item {
  float: right;
}

.navbar-brand, .navbar-item, .navbar-burger {
  font-size: 2em;
  text-decoration: none;
  color: var(--text-navbar);
}



.navbar-brand:hover, .navbar-item:hover {
  color: var(--text-navbar-hover);
  transition: 0.3s;
}

.page {
  background-color: var(--foreground-color);
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  /* padding: 0.5em; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .guttering {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1600px) {
  .guttering {
    margin-right: auto;
    margin-left: auto;
    width: 1439px;
  }
}

.guttering {
  max-width: 1600px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.centre {
  margin: auto;
  align-self: center;
  text-align: center;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contacts a {
  text-decoration: none;
}

.contact-info {
  border: 1px var(--text-link) solid;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
}

.contact-info a {
  color: var(--text-link);
}

.contact-info h1 {
  font-weight: bold;
  font-size: 3em;
}

.contact-info h2, .contact-info a {
  line-height: 0em;
}

.blog h2 {
  padding: 0;
  margin: 0;
}

.all-posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.post-preview {
  /* margin: 0.5em; */
  max-width: 100%;
  height: 20em;
  aspect-ratio: 3/2;
  background-color: var(--card-background);
}

.post-preview-info {
  padding: 0.5em;
}

.post-preview-info p {
  margin-top: 0.25em
}

.post-preview .image, img {
  width: 100%;
  height: 10em;
  overflow: hidden;
  object-fit: cover;
  background-image: url("/public/img/card_default.png");
}

a.clickable-card {
  color: var(--text);
  height: 20em;
  max-width: 90%;
  aspect-ratio: 3/2;
  z-index: 1;
  text-decoration: none;
  transition: filter 0.5s ease;
  margin: 0.5em;
  box-shadow: 1;
}

a.clickable-card:hover {
  filter: brightness(60%);
  background-color: black;
  color: var(--text);
  text-decoration: none;
}
