{% extends "base" %}
{% block page_name %}Blog @ {{post.name}}{% endblock %}
{% block page_description %}{{post.description}}{% endblock %}
{% block body %}
<h1>{{post.name}}</h1>
<small>Last Updated: {{post.modified}}</small>
<small>Tags: 
  {% for tag in tags %} 
    {{tag.tag}}{%if not loop.last%},{%endif%}
  {%endfor%}
</small>
<div class="blog">
{{post_content | safe}}
</div>
{% endblock body %}
