{% extends "base" %}
{% block page_name %}Blog Post{% endblock %}
{% block page_description %}Lilith's Post{% endblock %}
{% block body %}
<h1>{{post.name}}</h1>

  {{post_content | safe}}
{% endblock body %}
