
<div class="footer">
  <hr/>
    <div class="footer-links">
      <a href="https://github.com/Portablefire22/lilith-rs" target="_blank">Source</a>
      <div class="vertical-rule"></div>
      <a href="https://kitten.rs" target="_blank">Kitten.rs</a>
      <div class="vertical-rule"></div>
      <a href="https://github.com/Portablefire22" target="_blank">Github</a>
    <div class="footer-links">
</div>
